.login_signup {
	background-color: var(--bgDarkest);
	text-align: center;
	width: min(100%, 350px);
}

.login_signup .radio_buttons_for_users {
	display: flex;
	justify-content: center;
	margin: 15px;
}
.login_signup .radio_buttons_for_users .radio_container {
	margin-left: 15px;
	display: flex;
	align-items: center;
	font-size: var(--f1);
	cursor: pointer;
}
.login_signup .radio_buttons_for_users .radio_container label {
	margin-left: 6px;
}
.login_signup ul {
	column-count: 2;
	list-style-type: none;
	padding: 0px;
	margin-top: 20px;
	background-color: var(--bgLessDarkest);
	text-align: center;
	font-size: var(--f1);
}
.login_signup ul li {
	padding: 10px;
}

.login_signup ul a {
	text-decoration: none;
}

.login_signup form input {
	font-size: var(--f1);
	padding: 10px;

	text-align: center;

	border: none;
	color: var(--bgDarkest);
}

.login_signup form .login_signup_button {
	color: white;
}

.login_signup .not_active_button {
	background-color: var(--bgLessDarkest);
}

.login_signup .active_button {
	background-color: var(--bgDarkest);
}
