.login_signup {

    background-color: var(--bgDarkest);
    text-align: center;
    /* padding: 20px 20px 0px; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 600px; */
    border-radius: 26px;
}

.login_signup .radio_buttons_for_users {

    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    /* get back margin top and ask why */
    margin: 15px; 
    
    
    
}
.login_signup .radio_buttons_for_users .radio_container {

    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: var(--f0);
    cursor: pointer;
    
    /* display: flex;
    align-items: center;
    padding-left: 36px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-right: 20px; */
}
.login_signup .radio_buttons_for_users .radio_container label {

    margin-left: 6px;
}
.login_signup ul {

    /* display: flex; */
    column-count: 2;
    list-style-type: none;
    /* justify-content: space-between; */
    padding: 0px;
    margin-top: 20px;
    background-color: var(--bgLessDarkest);
    text-align: center;
    font-size: var(--f0);
}
.login_signup ul li {

    padding: 10px;
    
}

.login_signup ul a {
    
    text-decoration: none;
}

.login_signup form input {

    font-size: var(--f0);
    padding: 10px;
    border-radius: 28px;
    text-align: center;
    background-color: var(--white);
}
.login_signup form input:focus {

    outline: none;
    border: 4px solid var(--bgLessDarkest);

}

.login_signup form .login_signup_button {

    background-color: var(--bgLessDarkest);
    
}

/* .login_signup .radio_container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.login_signup .radio_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.login_signup .radio_container input:checked ~ .checkmark {
    background-color: var(--bgDarkest);
    /* background-color: #2196F3; 
}

.login_signup form .radio_container .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.login_signup form .radio_container input:checked ~ .checkmark::after {
    display: block;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;

}    */


.login_signup .button_active {

    border-right: 1px solid var(--bgDarkest);
    
}



/* Make it responsive */