.course_preview {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	width: fit-content;
	font-size: var(--f2);
	margin-left: 10px;
	margin-bottom: 10px;
}

.course_preview p:not(:last-child) {
	margin-bottom: 8px;
}

@media (max-width: 680px) {
	.course_preview {
		font-size: var(--f2);
	}
}
