.tab {
	padding: 10px;
	width: calc(100% / 3);
}
.tab:not(:last-child) {
	margin-right: 5px;
}
.tab a {
	text-decoration: none;
	font-size: var(--f2);
}
.active_tab {
	background-color: var(--bgDarkest);
}
.not_active_tab {
	background-color: var(--bgLessDarkest);
}

.tab a img {
	width: 40px;
	height: 40px;
	margin-right: 6px;
}

@media (max-width: 580px) {
	.tab a span {
		display: none;
	}
}

/* @media (max-width: 490px) {
	.tab a {
		text-decoration: none;
		font-size: 14px;
	}
} */
