
.user_preview {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.user_preview div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--f3);
    margin-left: 2px;

}