@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

:root {
	/* colors */
	--bgLighter: #727171;
	--bgDarkest: rgb(14, 14, 15);
	--bgLessDarkest: #242426;

	--white: #fff;
	--gray: #aaaaaa;

	/* Font sizes */
	--f0: 25px;
	--f1: 18px;
	--f2: 16px;
	--f3: 14px;
	--f4: 12px;

	/* sizes of width and height */
	--mainWidth: 850px;
}
* {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: var(--white);
	box-sizing: border-box;
}

body,
html,
#root,
.App {
	width: 100%;
	height: 100%;
	background-color: var(--bgLighter);
}

.unActive {
	font-size: var(--f2);
}
.Active {
	font-size: var(--f2);
	font-weight: bold;
}

.center_flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.submit_active_button {
	pointer-events: visible;
}
.submit_not_active_button {
	opacity: 0.4;
	pointer-events: none;
}
.err_message {
	color: red;
	font-size: var(--f2);
}
.submit_button {
	padding: 10px;
	background-color: #0094ff;
	cursor: pointer;
	border: none;
	font-size: var(--f2);
	/* width: 100px; */
	width: 90px;
}
/* @media (max-width: 490px) {
	.submit_button {
		font-size: 14px;
		width: 70px;
		/* width: 100px; 
	}
} */
